@tailwind base;
@tailwind components;
@tailwind utilities;
video::cue {
  font-size: 120%;
  /* color: #e8d920; */
  color: #fff;
  background: transparent;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
/* video::-webkit-media-text-track-display {
  font-size: 120%;
  color: #e8d920;
} */
.plyr__caption {
  font-size: 120%;
  color: #fff;
  background: transparent;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
