@tailwind base;
@tailwind components;
@tailwind utilities;
/* video::-webkit-media-text-track-display {
  font-size: 120%;
  color: #e8d920;
} */
.plyr__caption,
video::cue {
  font-size: clamp(2rem, 6vw, 4.2rem);
  color: #fff;
  padding: 2px;
  background: #000;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
