PORT=1994

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=rxSxLtmQ9TFCYp1k
DB_DATABASE_NAME=phim

TMDB_API=https://api.themoviedb.org/3/
TMDB_API_V3=2f85feeeb335c605c888a95bb4c4cd32
TMDB_API_v4=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyZjg1ZmVlZWIzMzVjNjA1Yzg4OGE5NWJiNGM0Y2QzMiIsInN1YiI6IjYzNjYxMzY3OWQ2ZTMzMDA3ZDdjMTRlMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.KtK9_h4Ehii-jZswnOSYP0aniPea4Ujp21nyBGhtSpY